<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tickle_moa.backend.transaction.query.mapper.TransactionMapper">

    <select id="findByAccountId" resultType="com.tickle_moa.backend.transaction.query.dto.response.TransactionDTO">
        SELECT * FROM transactions WHERE account_id = #{accountId}
    </select>

</mapper>
